a{
    color: beige;
    list-style: none;
    text-decoration: none;
}

.Listado_A_S{
    margin-left: 20%;
    display: flex;
    float: left;
    justify-content: center;
    padding: ;
}

.Anterior {
    margin-left: 50%;
}

.entre-medio{
    margin-left: 170%;
}

.Siguiente {
    margin-left: 0%;
}

.Anterior:hover {
    background-color: rgb(32, 32, 32);
}

.Siguiente:hover{
    background-color:rgb(32, 32, 32);
}